<!DOCTYPE html>
<html lang="en">
<head>
	<!-- =====  BASIC PAGE NEEDS  ===== -->
	<meta charset="utf-8">
	<title>Iklanku</title>
	<!-- =====  SEO MATE  ===== -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="distribution" content="global">
	<meta name="revisit-after" content="2 Days">
	<meta name="robots" content="ALL">
	<meta name="rating" content="8 YEARS">
	<meta name="Language" content="en-us">
	<meta name="GOOGLEBOT" content="NOARCHIVE">
	<!-- =====  MOBILE SPECIFICATION  ===== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="viewport" content="width=device-width">
	<!-- =====  CSS  ===== -->
	<link rel="stylesheet" type="text/css" href="http://localhost/iklanku/templates/iklanku/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="http://localhost/iklanku/templates/iklanku/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="http://localhost/iklanku/templates/iklanku/font/stylesheet.css" />
	<style>
		body{
			font-family: 'comfortaaregular';
			background-color: #f8f9fa!important;
		}
		.rating_star{
			color: grey;
		}
		.checked{
			color: orange;
		}
		div.scrollimages {
		  /*background-color: #333;*/
		  overflow: auto;
		  white-space: nowrap;
		}

		div.scrollimages a {
		  display: inline-block;
		  color: white;
		  text-align: center;
		  padding: 14px;
		  text-decoration: none;
		}

		div.scrollimages a:hover {
		  /*background-color: #777;*/
		}
		::-webkit-scrollbar {
		  height: 4px;              /* height of horizontal scrollbar ← You're missing this */
		  width: 4px;               /* width of vertical scrollbar */
		  /*border: 1px solid #d5d5d5;*/
		  /*border: 1px solid black;*/
		  /*background: black;*/
		}
	</style>
</head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" style="background-color: white!important;">
	  <a class="navbar-brand" href="#" style="font-size: 30px;"><h1 class="font-weight-bold">iklan<span class="text-info">ku</span></h1></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border-color: rgba(0,0,0,0);">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Link</a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Dropdown
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="#">Action</a>
	          <a class="dropdown-item" href="#">Another action</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#">Something else here</a>
	        </div>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	<br>
	<br>
	<br>
	<div class="divider mb-2"></div>
	<div class="content_top">
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb bg-info" style="color: white;">
		    <li class="breadcrumb-item"><a href="#" style="color: white;"><i class="fa fa-arrow-left"></i></a></li>
		    <span class="ml-5">JL. Majapahit / Kota Semarang</span>
		  </ol>
		</nav>
		<center>
			<span class="badge badge-success pull-right" style="width: 80px; position: absolute;z-index: 1; left: 10px;">available</span>
			<img src="img/map.jpg" class="border img img-fluid m-auto" alt="" style="margin-top: -16px!important;">
		</center>
	</div>
	<div class="review container-fluid">
		<div class="row">
			<div class="col">
				<div class="views mb-3">
					<small class="text-primary"><i class="fa fa-eye"></i> 360 views</small>
				</div>
				<table class="table table-sm"> 
					<tr>
						<td>
							<small>ukuran</small>			
						</td>
						<td>:</td>
						<td>
							<small>5 x 10 Meter</small>
						</td>
					</tr>
					<tr>
						<td>
							<small>dimensi</small>			
						</td>
						<td>:</td>
						<td>
							<small>Vertikal</small>
						</td>
					</tr>
					<tr>
						<td>
							<small>Light</small>			
						</td>
						<td>:</td>
						<td>
							<small>FrontLight</small>
						</td>
					</tr>
				</table>
			</div>
			<div class="col">
				<div class="rating text-right mb-3">
					<span class="rating_star fa fa-star checked"></span>
					<span class="rating_star fa fa-star checked"></span>
					<span class="rating_star fa fa-star checked"></span>
					<span class="rating_star fa fa-star checked"></span>
					<span class="rating_star fa fa-star"></span>
				</div>
				<div class="description border-left pl-3" style="min-height: 100px;">
					<i class="fa fa-map-marker"style="position: absolute;top: 40%;left: 8px;font-size: 28px;"></i>
					<span>< 50 Meter</span>
					<p class="text-muted" style="font-size: 12px;">
						RM. Pempek Ny. Kamto BRI Unit Majapahit SPBU Majapahit
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="location container-fluid">
		<i class="fa fa-arrow-right"></i>|  <span class="text-muted" style="font-size: 12px;">View menuju Simpang Lima Semarang</span>
		<p class="mt-2">
			<img src="../../images/g-map.png" height="20"> <span class="text-muted" style="font-size: 12px;"> Lihat di Map</span>
		</p>
	</div>
	<div class="gallery container-fluid">
		<i class="fa fa-image"></i>  <span style="font-size: 12px;"> Gallery</span>
		<br>
		<div class="scrollimages">
			<a href="">
				<img src="../../images/g-map.png" height="200" width="150">
			</a>
			<a href="">
				<img src="../../images/g-map.png" height="200" width="150">
			</a>
			<a href="">
				<img src="../../images/g-map.png" height="200" width="150">
			</a>
			<a href="">
				<img src="../../images/g-map.png" height="200" width="150">
			</a>
			<a href="">
				<img src="../../images/g-map.png" height="200" width="150">
			</a>
		</div>
		<div class="order container-fluid">
			<div class="form-group">
				<button class="btn btn-info rounded w-100">Simulasi Harga</button>
			</div>
			<div class="form-group">
				<button class="btn btn-success rounded w-100">Online Chat</button>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<script src="jquery/jquery.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>